{% extends 'profile/doctor/layout.html.twig' %}

{% block profileb %}
	<div class="row">
		<div class="col-md-12">
			<div class="card dash-card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12 col-lg-4">
							<div class="dash-widget dct-border-rht">
								<div class="circle-bar circle-bar1">
									<div class="circle-graph1" data-percent="75">
										<img src="/assets/img/icon-01.png" class="img-fluid" alt="patient">
									</div>
								</div>
								<div class="dash-widget-info">
									<h6>Total Patient</h6>
									<h3>{{patients_count}}</h3>
									<p class="text-muted">Till Today</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="dash-widget dct-border-rht">
								<div class="circle-bar circle-bar2">
									<div class="circle-graph2" data-percent="65">
										<img src="/assets/img/icon-02.png" class="img-fluid" alt="Patient">
									</div>
								</div>
								<div class="dash-widget-info">
									<h6>Today Patient</h6>
									<h3>{{patients_count_today}}</h3>
									<p class="text-muted">{{ "now"|date("j, M Y") }}</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="dash-widget">
								<div class="circle-bar circle-bar3">
									<div class="circle-graph3" data-percent="50">
										<img src="/assets/img/icon-03.png" class="img-fluid" alt="Patient">
									</div>
								</div>
								<div class="dash-widget-info">
									<h6>Appoinments</h6>
									<h3>{{appointments_count}}</h3>
									<p class="text-muted">Till Today</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 class="mb-4">Patient Appoinment</h4>
			<div class="appointment-tab">
				<!-- Appointment Tab -->
				<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
					<li class="nav-item">
						<a class="nav-link active" href="#upcoming-appointments" data-toggle="tab">Upcoming</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#today-appointments" data-toggle="tab">Today</a>
					</li> 
				</ul>
				<!-- /Appointment Tab -->
				<div class="tab-content">
					<!-- Upcoming Appointment Tab -->
					<div class="tab-pane show active" id="upcoming-appointments">
						<div class="card card-table mb-0">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0">
										<thead>
											<tr>
												<th>Patient Name</th>
												<th>Appt Date</th>
												<th>Purpose</th>
												<th>Type</th>
												<th class="text-center">Estimated Price</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											{% for appointment in appointments %}
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/assets/img/patient-default.jpg" alt="User Image"></a>
														<a href="{{ path('app_doctor_patients') }}">{{appointment.getPatientID().getFirstName()}}  {{appointment.getPatientID().getLastName()}} <span>#P{{ "%'08.8s"|format(appointment.getPatientID().getId()) }}</span></a>
													</h2>
												</td>
												<td>{{appointment.getAppDate().format('j M Y')}} <span class="d-block text-info">{{appointment.getAppTime().format('H:i')}}</span></td>
												<td>General</td>
												<td>New Patient</td>
												<td class="text-center">CHF {{appointment.getProductPrice()}}</td>
												<td class="text-right">
													<div class="table-action">
														<a href="#" data-toggle="modal" data-target="#viewModalAppointment{{appointment.getId()}}" class="btn btn-sm bg-info-light">
															<i class="far fa-eye"></i> View
														</a>
														{% if appointment.getStatus() == 0 %}
														<a href="{{path('app_doctor_appointments_success', {id: appointment.getId()})}}" class="btn btn-sm bg-success-light">
															<i class="fas fa-check"></i> Accept
														</a>
														<a href="{{path('app_doctor_appointments_cancel', {id: appointment.getId()})}}" class="btn btn-sm bg-danger-light">
															<i class="fas fa-times"></i> Cancel
														</a>
														{% else %}
														<a href="#" class="btn btn-sm bg-success-light">
															{% if appointment.getStatus() == 1 %}
																PENDIND
															{% endif %}
															{% if appointment.getStatus() == 2 %}
																COMPLETE
															{% endif %}
															{% if appointment.getStatus() == 3 %}
																CANCELLED
															{% endif %}
														</a>
														{% endif %}
													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>		
								</div>
							</div>
						</div>
					</div>
					<!-- /Upcoming Appointment Tab -->
					<!-- Today Appointment Tab -->
					<div class="tab-pane" id="today-appointments">
						<div class="card card-table mb-0">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0">
										<thead>
											<tr>
												<th>Patient Name</th>
												<th>Appt Date</th>
												<th>Purpose</th>
												<th>Type</th>
												<th class="text-center">Estimated Price</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											{% for appointment in appointments_today %}					
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="patient-profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/assets/img/patient-default.jpg" alt="User Image"></a>
														<a href="{{ path('app_doctor_patients') }}">{{appointment.getPatientID().getFirstName()}}  {{appointment.getPatientID().getLastName()}} <span>#P{{ "%'08.8s"|format(appointment.getPatientID().getId()) }}</span></a>
													</h2>
												</td>
												<td>{{appointment.getAppDate().format('j M Y')}} <span class="d-block text-info">{{appointment.getAppTime().format('H:i')}}</span></td>
												<td>Fever</td>
												<td>Old Patient</td>
												<td class="text-center">CHF {{appointment.getProductPrice()}}</td>
												<td class="text-right">
													<div class="table-action">
														<a href="#" data-toggle="modal" data-target="#viewModalAppointment{{appointment.getId()}}" class="btn btn-sm bg-info-light">
															<i class="far fa-eye"></i> View
														</a>
														{% if appointment.getStatus() == 0 %}
															<a href="{{path('app_doctor_appointments_success', {id: appointment.getId()})}}" class="btn btn-sm bg-success-light">
																<i class="fas fa-check"></i> Accept
															</a>
															<a href="{{path('app_doctor_appointments_cancel', {id: appointment.getId()})}}" class="btn btn-sm bg-danger-light">
																<i class="fas fa-times"></i> Cancel
															</a>
														{% else %}
															<a href="#" class="btn btn-sm bg-success-light">
																{% if appointment.getStatus() == 1 %}
																	PENDIND
																{% endif %}
																{% if appointment.getStatus() == 2 %}
																	COMPLETE
																{% endif %}
																{% if appointment.getStatus() == 3 %}
																	CANCELLED
																{% endif %}
															</a>
														{% endif %}
													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>		
								</div>	
							</div>	
						</div>	
					</div>
					<!-- /Today Appointment Tab -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block profilemodals %}
	{% for appointment in appointments %}
	<!-- Modal -->
		<div class="modal fade" id="viewModalAppointment{{appointment.getId()}}" tabindex="-1" role="dialog" aria-labelledby="viewModalAppointment{{appointment.getId()}}Title" aria-hidden="true">
			<div class="modal-dialog modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Appointment ID#{{ "%'08.8s"|format(appointment.getId()) }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					
					<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-logo">
												<img src="/assets/img/logo.png" alt="logo">
											</div>
										</div>
										<div class="col-md-6">
											<p class="invoice-details">
												<strong>Order:</strong> #{{ "%'08.8s"|format(appointment.getId()) }} <br>
												<strong>Issued:</strong> {{appointment.getCreateTime().format('j/m/Y')}}
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<strong class="customer-text">Confirmation From</strong>
												<p class="invoice-details invoice-details-two">
													Dr. {{appointment.getDoctorID().getFirstName()}} {{appointment.getDoctorID().getLastName()}} <br>
													{{appointment.getDoctorID().getAddressLine1()}}<br>
													{{appointment.getDoctorID().getPostalCode()}} {{appointment.getDoctorID().getState()}}, {{appointment.getDoctorID().getCountry()}} <br>
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<strong class="customer-text">Booking confirmed For</strong>
												<p class="invoice-details">
													{{appointment.getPatientID().getFirstName()}} {{appointment.getPatientID().getLastName()}}<br>
													{% if appointment.getPatientID().getInsurance() %}
													Insurance {{appointment.getPatientID().getInsurance()}}: {{appointment.getPatientID().getInsuranceNum()}}<br>
													{% endif %}
													{% if appointment.getPatientID().getAddress() %}
													{{appointment.getPatientID().getAddress()}} <br>
													{% endif %}
													{% if appointment.getPatientID().getPostalCode() %}
													{{appointment.getPatientID().getPostalCode()}},
													{% endif %}
													{% if appointment.getPatientID().getCity() %}
													{{appointment.getPatientID().getCity()}} <br>
													{% endif %}
													{{appointment.getPatientID().getPhoneNumber()}} <br>
													{{appointment.getPatientID().getEmail()}} <br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
								
								<!-- Invoice Item -->
								<!-- <div class="invoice-item"> -->
									<!-- <div class="row"> -->
										<!-- <div class="col-md-12"> -->
											<!-- <div class="invoice-info"> -->
												<!-- <strong class="customer-text">Payment Method</strong> -->
												<!-- <p class="invoice-details invoice-details-two"> -->
													<!-- Debit Card <br> -->
													<!-- XXXXXXXXXXXX-2541 <br> -->
													<!-- HDFC Bank<br> -->
												<!-- </p> -->
											<!-- </div> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
								<!-- /Invoice Item -->
								
								<!-- Invoice Item -->
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr>
															<th>Description</th>
															<th class="text-center">Quantity</th>
															<th class="text-center">VAT</th>
															<th class="text-right">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>General Consultation</td>
															<td class="text-center">1</td>
															<td class="text-center">CHF  0</td>
															<td class="text-right">CHF {{appointment.getProductPrice()}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-6 col-xl-4 ml-auto">
											<div class="table-responsive">
												<table class="invoice-table-two table">
													<tbody>
														<tr>
															<th>Subtotal:</th>
															<td><span>CHF {{appointment.getProductPrice()}}</span></td>
														</tr>
														<tr>
															<th>Discount:</th>
															<td><span>-0%</span></td>
														</tr>
														<tr>
															<th>Estimated Price:</th>
															<td><span>CHF {{appointment.getProductPrice()}}</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
                            </div>
					
					
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	{% for appointment in appointments_today %}
	<!-- Modal -->
		<div class="modal fade" id="viewModalAppointment{{appointment.getId()}}" tabindex="-1" role="dialog" aria-labelledby="viewModalAppointment{{appointment.getId()}}Title" aria-hidden="true">
			<div class="modal-dialog modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Appointment ID#{{ "%'08.8s"|format(appointment.getId()) }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					
					<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-logo">
												<img src="/assets/img/logo.png" alt="logo">
											</div>
										</div>
										<div class="col-md-6">
											<p class="invoice-details">
												<strong>Order:</strong> #{{ "%'08.8s"|format(appointment.getId()) }} <br>
												<strong>Issued:</strong> {{appointment.getCreateTime().format('j/m/Y')}}
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<strong class="customer-text">Confirmation From</strong>
												<p class="invoice-details invoice-details-two">
													Dr. {{appointment.getDoctorID().getFirstName()}} {{appointment.getDoctorID().getLastName()}} <br>
													{{appointment.getDoctorID().getAddressLine1()}}<br>
													{{appointment.getDoctorID().getPostalCode()}} {{appointment.getDoctorID().getState()}}, {{appointment.getDoctorID().getCountry()}} <br>
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<strong class="customer-text">Booking confirmed For</strong>
												<p class="invoice-details">
													{{appointment.getPatientID().getFirstName()}} {{appointment.getPatientID().getLastName()}}<br>
													{% if appointment.getPatientID().getInsurance() %}
													Insurance {{appointment.getPatientID().getInsurance()}}: {{appointment.getPatientID().getInsuranceNum()}}<br>
													{% endif %}
													{% if appointment.getPatientID().getAddress() %}
													{{appointment.getPatientID().getAddress()}} <br>
													{% endif %}
													{% if appointment.getPatientID().getPostalCode() %}
													{{appointment.getPatientID().getPostalCode()}},
													{% endif %}
													{% if appointment.getPatientID().getCity() %}
													{{appointment.getPatientID().getCity()}} <br>
													{% endif %}
													{{appointment.getPatientID().getPhoneNumber()}} <br>
													{{appointment.getPatientID().getEmail()}} <br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
								
								<!-- Invoice Item -->
								<!-- <div class="invoice-item"> -->
									<!-- <div class="row"> -->
										<!-- <div class="col-md-12"> -->
											<!-- <div class="invoice-info"> -->
												<!-- <strong class="customer-text">Payment Method</strong> -->
												<!-- <p class="invoice-details invoice-details-two"> -->
													<!-- Debit Card <br> -->
													<!-- XXXXXXXXXXXX-2541 <br> -->
													<!-- HDFC Bank<br> -->
												<!-- </p> -->
											<!-- </div> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
								<!-- /Invoice Item -->
								
								<!-- Invoice Item -->
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr>
															<th>Description</th>
															<th class="text-center">Quantity</th>
															<th class="text-center">VAT</th>
															<th class="text-right">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>General Consultation</td>
															<td class="text-center">1</td>
															<td class="text-center">CHF  0</td>
															<td class="text-right">CHF {{appointment.getProductPrice()}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-6 col-xl-4 ml-auto">
											<div class="table-responsive">
												<table class="invoice-table-two table">
													<tbody>
														<tr>
															<th>Subtotal:</th>
															<td><span>CHF {{appointment.getProductPrice()}}</span></td>
														</tr>
														<tr>
															<th>Discount:</th>
															<td><span>-0%</span></td>
														</tr>
														<tr>
															<th>Estimated Price:</th>
															<td><span>CHF {{appointment.getProductPrice()}}</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
                            </div>
					
					
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}