{% extends 'profile/patient/layout.html.twig' %}

{% block profileb %}
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12 col-lg-6">
					<!-- Change Password Form -->
					{% for flashError in app.flashes('patient_profile_change_password_error') %}
						<div class="alert alert-danger" role="alert">{{ flashError }}</div>
					{% endfor %}
					{% for flashError in app.flashes('patient_profile_change_password_success') %}
						<div class="alert alert-success" role="alert">{{ flashError }}</div>
					{% endfor %}
					{{ form_start(requestForm) }}
						{{ form_row(requestForm.oldPassword) }}
						{{ form_row(requestForm.plainPassword) }}
						<div class="submit-section">
							<button type="submit" class="btn btn-primary submit-btn">{{ "Save Changes"|trans }}</button>
						</div>
					{{ form_end(requestForm) }}
					<!-- /Change Password Form -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}
