{% extends 'profile/patient/layout.html.twig' %}

{% block profileb %}
							<div class="card">
								<div class="card-body pt-0">
								
									<!-- Tab Menu -->
									<nav class="user-tabs mb-4">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
											</li>
										</ul>
									</nav>
									<!-- /Tab Menu -->
									
									<!-- Tab Content -->
									<div class="tab-content pt-0">
										
										<!-- Appointment Tab -->
										<div id="pat_appointments" class="tab-pane fade show active">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Doctor</th>
																	<th>Appt Date</th>
																	<th>Booking Date</th>
																	<th>Estimated Price</th>
																	<!--<th>Paied Date</th>-->
																	<th>Status</th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																{% for appointment in appointments %}
																<tr>
																	<td>
																		<h2 class="table-avatar">
																			<a href="{{path('app_doctor_profile', {slug: appointment.getDoctorID().getUrlProfile()})}}" class="avatar avatar-sm mr-2">
																				<img class="avatar-img rounded-circle" src="{% if appointment.getDoctorID().getPictureProfile() %}{{appointment.getDoctorID().getPictureProfile()}}{% else %}/assets/img/doctor-default.jpg{% endif %}" alt="User Image">
																			</a>
																			<a href="{{path('app_doctor_profile', {slug: appointment.getDoctorID().getUrlProfile()})}}">{{appointment.getDoctorID().getTitle()}}  {{appointment.getDoctorID().getFirstName()}}  {{appointment.getDoctorID().getLastName()}}<span>{{appointment.getDoctorID().getSpeciality()}}</span></a>
																		</h2>
																	</td>
																	<td>{{appointment.getAppDate().format('j M Y')}} <span class="d-block text-info">{{appointment.getAppTime().format('H:i')}}</span></td>
																	<td>{{appointment.getCreateTime().format('j M Y')}}</td>
																	<td>CHF {{appointment.getProductPrice()}}</td>
																	<!--<td>
																		{% if appointment.getIsPayed() == 1 %}
																			{{appointment.getDatePaied().format('j M Y')}}
																		{% else %}
																			-
																		{% endif %}
																	</td>-->
																	<td>
																		{% if appointment.getStatus() == 0 or appointment.getStatus() == 1 %}
																			<span class="badge badge-pill bg-warning-light">PENDIND</span></td>
																			{% if appointment.getStatus() == 1 %}
																			<a href="https://www.sandbox.paypal.com/checkoutnow?token={{appointment.getOrderID()}}" class="btn btn-sm">
																				<i class="fab fa-cc-paypal"></i> Pay Now
																			</a>
																			{% endif %}
																		{% endif %}
																		{% if appointment.getStatus() == 2 %}
																			<span class="badge badge-pill bg-success-light">COMPLETE</span>
																		{% endif %}
																		{% if appointment.getStatus() == 3 %}
																			<span class="badge badge-pill bg-danger-light">CANCELLED</span>
																		{% endif %}
																		
																	<td class="text-right">
																		<div class="table-action">
																			<a href="javascript:void(0);" data-toggle="modal" data-target="#viewModalAppointment{{appointment.getId()}}"  class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																		</div>
																	</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Appointment Tab -->
									</div>
									<!-- Tab Content -->
									
								</div>
							</div>
						

{% endblock %}
{% block profilemodals %}
	{% for appointment in appointments %}
	<!-- Modal -->
		<div class="modal fade" id="viewModalAppointment{{appointment.getId()}}" tabindex="-1" role="dialog" aria-labelledby="viewModalAppointment{{appointment.getId()}}Title" aria-hidden="true">
			<div class="modal-dialog modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Appointment ID#{{ "%'08.8s"|format(appointment.getId()) }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					
					<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-logo">
												<img src="/assets/img/logo.png" alt="logo">
											</div>
										</div>
										<div class="col-md-6">
											<p class="invoice-details">
												<strong>Order:</strong> #{{ "%'08.8s"|format(appointment.getId()) }} <br>
												<strong>Issued:</strong> {{appointment.getCreateTime().format('j/m/Y')}}
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<strong class="customer-text">Confirmation From</strong>
												<p class="invoice-details invoice-details-two">
													{{appointment.getDoctorID().getTitle()}}  {{appointment.getDoctorID().getFirstName()}} {{appointment.getDoctorID().getLastName()}} <br>
													{{appointment.getDoctorID().getAddressLine1()}}<br>
													{{appointment.getDoctorID().getAddressLine2()}}<br>
													{{appointment.getDoctorID().getPostalCode()}} {{appointment.getDoctorID().getCity()}} <br> {{appointment.getDoctorID().getState()}} {{appointment.getDoctorID().getCountry()}} <br>
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<strong class="customer-text">Booking confirmed For</strong>
												<p class="invoice-details">
													{{appointment.getPatientID().getFirstName()}} {{appointment.getPatientID().getLastName()}}<br>
													{{appointment.getPatientID().getAddress()}} <br>
													{{appointment.getPatientID().getPostalCode()}}, {{appointment.getPatientID().getCity()}} <br>
													{{appointment.getPatientID().getPhoneNumber()}} <br>
													{{appointment.getPatientID().getEmail()}} <br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
								
								<!-- Invoice Item -->
								<!-- <div class="invoice-item"> -->
									<!-- <div class="row"> -->
										<!-- <div class="col-md-12"> -->
											<!-- <div class="invoice-info"> -->
												<!-- <strong class="customer-text">Payment Method</strong> -->
												<!-- <p class="invoice-details invoice-details-two"> -->
													<!-- Debit Card <br> -->
													<!-- XXXXXXXXXXXX-2541 <br> -->
													<!-- HDFC Bank<br> -->
												<!-- </p> -->
											<!-- </div> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
								<!-- /Invoice Item -->
								
								<!-- Invoice Item -->
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr>
															<th>Description</th>
															<th class="text-center">Quantity</th>
															<th class="text-center">VAT</th>
															<th class="text-right">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>General Consultation</td>
															<td class="text-center">1</td>
															<td class="text-center">CHF  0</td>
															<td class="text-right">CHF {{appointment.getProductPrice()}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-6 col-xl-4 ml-auto">
											<div class="table-responsive">
												<table class="invoice-table-two table">
													<tbody>
														<tr>
															<th>Subtotal:</th>
															<td><span>CHF {{appointment.getProductPrice()}}</span></td>
														</tr>
														<tr>
															<th>Discount:</th>
															<td><span>-0%</span></td>
														</tr>
														<tr>
															<th>Total Amount:</th>
															<td><span>CHF {{appointment.getProductPrice()}}</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
                            </div>
					
					
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}