<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>		
		<p>Hello {{title}} {{first_name}} {{last_name}}, </p>
		<p>You have successfully registered your account with DocBooking. This will make it much easier for Patients to find you. Here is your account information: </p>
		<p>
		<ul>
		<li>Login: {{email}}</li>
		<li>Password: ** </li>
		</ul>
		</p>
		<p>You now also have your personalised booking page: <a href="https://www.docbooking.ch/doctor/{{slug}}.html">https://www.docbooking.ch/doctor/{{slug}}.html</a> </p>
		<p>There will appear all your available spots for bookings. You can copy this link and place it on your Website, if you have one, or simply copy it into your social media pages. This will all make you very visible to your potential patients.</p>
		<p>You can also take your time and improve your personal page to make it very attractive, such as here : <a href="https://www.docbooking.ch/doctor/Demo-1-Demo-1.html">https://www.docbooking.ch/doctor/Demo-1-Demo-1.html</a> In case of a problem, can always go to the page <a href="https://www.docbooking.ch/help-for-doctors">https://www.docbooking.ch/help-for-doctors.html</a>, where 90% of your questions will be answered. <br><br><br>Good Luck at getting all your available spots booked by new patients.</p> 
		<p>All the best, <br>The DocBooking Team www.DocBooking.ch <br> <img src="https://www.docbooking.ch/assets/img/logo.png"> <br>4,place de la Gare 1020 Renens-Lausanne Switzerland <br><a href="mailto:contact-for-doctors@docbooking.ch">contact-for-doctors@docbooking.ch</a></p>
    </body>
</html>