<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="DocBooking - Book a Doctor near You - Schedules at 12 - 48 hours Waiting only">
		<meta name="keywords" content="booking, doctor, available, schedule, April, May, June, July, symptom checker, diagnosis, medicine, natural, general practitioner, therapist, physiotherapist, dentist, psychologist, flu, depression, massage, pain, homeopathy, gynaecologist, fever, allergy">
		<meta name="author" content="Sean Kelly">
		<meta name="google-site-verification" content="9eQ9giGNEjTdLoRdI96g8EB9DPAuQ0r8-hM0HBnDsc8" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158937519-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-158937519-1');
		</script>
		<!--<meta http-equiv="refresh" content="300">-->
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<title>{% block title %}DocBooking - Book a Doctor near You. 12 - 48 hours Waiting only{% endblock %}</title>
		<!-- Favicons -->
		<link href="assets/img/favicon.png" rel="icon">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
		<!-- Fancybox CSS -->
		<link rel="stylesheet" href="/assets/plugins/fancybox/jquery.fancybox.min.css">
		<!-- Daterangepicker CSS -->
		<link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
		<!-- Main CSS -->
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" type="text/css" />
		<link rel="stylesheet" href="/assets/plugins/dropzone/dist/dropzone.css" type="text/css" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="/assets/js/html5shiv.min.js"></script>
			<script src="/assets/js/respond.min.js"></script>
		<![endif]-->
		{% block stylesheets %}{% endblock %}
	</head>
	<body class="{{ classBody }}">
		<!-- Main Wrapper -->
		<div class="main-wrapper">
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            </span>
						</a>
						<a href="{{ path('app_index') }}" class="navbar-brand logo">
							<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="{{ path('app_index') }}" class="menu-logo">
								<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li>
								<a href="{{ path('app_index') }}">Home</a>
							</li>	
							<li>
								<a href="{{ path('app_doctor_login') }}">Doctors</a>
                            </li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">
						{% if not app.user %}
						<li class="nav-item">
							<a class="nav-link header-login" href="{{ path('app_doctor_register') }}">Are you a healthcare professional?</a>
						</li>
						{% endif %}
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +41 79 323 55 23</p>
							</div>
						</li>
						{% if not app.user %}
						<li class="nav-item contact-item">
							<a href="{{ path('app_patient_register') }}">
								<div class="header-contact-img">
									<i class="far fa-user"></i>									
								</div>
								<div class="header-contact-detail">
									<p class="contact-header">Login / Signup</p>
									<p class="contact-info-header">Manage my Acct</p>
								</div>
							</a>
						</li>
						{% endif %}
						<li class="nav-item">
							{% if app.user %}
								<div class="btn-group">
									<button type="button" class="btn header-login">{{ app.user.firstname }} {{ app.user.lastname }},</button>
									<button type="button" class="btn dropdown-toggle fas fa-chevron-down header-login-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<div class="dropdown-menu">
										{% if 'ROLE_PATIENT' in app.user.getRoles() %}
											<a class="dropdown-item" href="{{ path('app_patient_dashboard') }}">Dashboard</a>
											<a class="dropdown-item" href="{{ path('app_patient_profile_favourites') }}">Favourites</a>
											<a class="dropdown-item" href="{{ path('app_patient_profile_settings') }}">Profile Settings</a>
											<a class="dropdown-item" href="{{ path('app_patient_profile_change_password') }}">Change Password</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="{{ path('app_patient_logout') }}">Logout</a>
										{% endif %}
										{% if 'ROLE_DOCTOR' in app.user.getRoles() %}
											<a class="dropdown-item" href="{{ path('app_doctor_dashboard') }}">Dashboard</a>
											<a class="dropdown-item" href="{{ path('app_doctor_schedule_timings') }}">Schedule Timings</a>
											<a class="dropdown-item" href="{{ path('app_doctor_appointments') }}">Appointments</a>
											<a class="dropdown-item" href="{{ path('app_doctor_patients') }}">My Patients</a>
											<a class="dropdown-item" href="{{ path('app_doctor_profilesettings') }}">Profile Settings</a>
											<a class="dropdown-item" href="{{ path('app_doctor_social') }}">Social Media</a>
											<a class="dropdown-item" href="{{ path('app_doctor_changepassword') }}">Change Password</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="{{ path('app_doctor_logout') }}">Logout</a>
										{% endif %}
									</div>
								</div>
							{% else %}

							{% endif %}
						</li>
					</ul>
				</nav>
			</header>
			{% block body %}{% endblock %}
			<!-- Footer -->
			<footer class="footer">
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<div class="footer-logo">
										<img src="/assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p><a href="{{path('app_about')}}" target="_blank"><i class="fas fa-angle-double-right"></i> About DocBooking & MEDoctor</a></p>
										<p>Book a Doctor at Short notice near You. Stop waiting 10-15 Days to see a Doctor.</p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="https://www.facebook.com/DocBookingCompany" target="_blank"><i class="fab fa-facebook-f"></i></a>
												</li>
												<li>
													<a href="https://www.twitter.com/docbooking" target="_blank"><i class="fab fa-twitter"></i></a>
												</li>
												<li>
													<a href="https://www.linkedin.com/company/docbookingcompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="https://www.instagram.com/docbooking_company/" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="https://www.youtube.com/channel/UC20P8AHd041QmTV4pn-6xhg" target="_blank"><i class="fab fa-youtube"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
                                        <li><a href="{{path('app_patient_login')}}"><i class="fas fa-angle-double-right"></i> Patient Login</a></li>
										<li><a href="{{path('app_patient_register')}}"><i class="fas fa-angle-double-right"></i> New Patient Registration</a></li>
										<li><a href="{{path('app_ddx')}}"><i class="fas fa-angle-double-right"></i> Symptom Checker for the Patient</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
                                        <li><a href="{{path('app_doctor_login')}}"><i class="fas fa-angle-double-right"></i> Doctor Login</a></li>
                                        <li><a href="{{path('app_doctor_register')}}"><i class="fas fa-angle-double-right"></i> New Doctor Registration</a></li>
                                        <li><a href="{{path('app_help_for_doctors')}}"><i class="fas fa-angle-double-right"></i> Help for Doctors</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 4, place de la Gare, 1020 Renens-Lausanne, Switzerland</p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>+41 79 323 55 23
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											<script type="text/javascript">
											<!--
											    var string1 = "docbooking.switzerland";
											    var string2 = "@";
											    var string3 = "gmail.com";
											    var string4 = string1 + string2 + string3;
											    document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
											//-->
											</script>
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="container-fluid">
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2020 DocBooking. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="{{path('app_term_condition')}}">Terms and Conditions</a></li>
											<li><a href="{{path('app_privacy_policy')}}">Policy</a></li>
                                            						<li><a href="{{path('app_404')}}">Error Page</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
								</div>
							</div>
						</div>
						<!-- /Copyright -->
					</div>
				</div>
				<!-- /Footer Bottom -->
			</footer>
			<!-- /Footer -->
		</div>
		<!-- /Main Wrapper -->

		<!-- ConveyThis code -->
<!-- ConveyThis code -->
		<!--  <script src="//cdn.conveythis.com/javascript/conveythis-initializer.js"></script>

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(e) {
                ConveyThis_Initializer.init({
                    api_key: "pub_3823debe0b5fda3a676a98f8a5f232b4"
                });
            });
        </script>
-->
        <!-- End ConveyThis code -->


		<!-- End ConveyThis code -->

		<!-- jQuery -->
		<!-- <script src="/assets/js/jquery.min.js"></script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/plugins/dropzone/dist/dropzone.js"></script>
		<!-- Bootstrap Core JS -->
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
		<!-- Sticky Sidebar JS -->
		<script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
		<script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		<!-- Select2 JS -->
		<script src="/assets/plugins/select2/js/select2.min.js"></script>
		<!-- Datetimepicker JS -->
		<script src="/assets/js/moment.min.js"></script>
		<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
		<!-- Fancybox JS -->
		<script src="/assets/plugins/fancybox/jquery.fancybox.min.js"></script>
		<!-- Daterangepicker JS -->
		<script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		{% block javascripts %}
		{# Default javascripts #}
		{% endblock %}
		{% block profilemodals %}{% endblock %}
	</body>
</html>
